// Your variable overrides
// See node_modules/bootstrap/scss/_variables.scss for all variables
$body-bg: #f4f2f3;
$background-opacity: 0.9;
$body-color: #33364d;
$primary: rgb(11, 8, 12);
$font-family-base: Candara;
// Include all Bootstrap
@import "../node_modules/bootstrap/scss/bootstrap";

// Add you custom CSS
* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

body {
  margin: 20px;
  font-size: 10px;
}

.carousel .item {
  height: 150px;
}
.card-title {
  font-weight: bold;
  color: #64766a;
  text-align: center;
}
.jumbotron {
  background-color: white;
  opacity: 0.8;
}
.nav-link {
  font-size: 35px;
}
.logo {
  width: 50%;
  height: 50%;
}
.fab {
  padding-right: 1em;
  font-size: 40px;
  width: 40px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 50%;
}

.fab:hover {
  opacity: 0.7;
}

.fa {
  padding-right: 1em;
  font-size: 40px;
  width: 40px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
}
.lead {
  font-size: 25px;
}

i.far,
i.fas,
i.fab {
  margin-left: 2em;
  padding-left: -5em;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer {
  width: 100vw;
  display: block;
  overflow: hidden;
  padding: 70px 0;
  box-sizing: border-box;
  background-color: #3e606f;
  opacity: 0.9;
  justify-content: left;
  position: relative;
}
.inner_footer {
  display: block;
  margin: 0 auto;
  width: 1100px;
  height: 100%;
}
.inner_footer .logo_container {
  float: left;
  padding-left: 0px;
  width: 50%;
  height: 100%;
  display: block;
}
.inner_footer .logo_container img {
  width: 200px;
  height: auto;
}
.inner_footer .footer_third {
  width: calc(21.6666666667% -20px);
  margin-right: 40px;
  margin-left: 10px;
  float: left;
  height: 100%;
}
.inner-footer .footer_third:last child {
  margin-right: 0;
}
.inner_footer .footer_third h4 {
  font-family: "Candara";
  font-size: 22px;
  color: white;
  display: block;
  width: 100%;
  margin-bottom: 20px;
}
.inner_footer .footer_third p {
  font-family: "Candara";
  font-size: 20px;
  color: white;
  display: block;
  width: 100%;
  padding-bottom: 5px;
}
