// Your variable overrides
// See node_modules/bootstrap/scss/_variables.scss for all variables
$body-bg: #f4f2f3;
$background-opacity: 0.9;
$body-color: #33364d;
$primary: rgb(11, 8, 12);
$font-family-base: Candara;
// Include all Bootstrap
@import "../node_modules/bootstrap/scss/bootstrap";

// Add you custom CSS

body {
  margin: 20px;
  font-size: 10px;
}

.carousel .item {
  height: 150px;
}
.card-title {
  font-weight: bold;
  color: #64766a;
  text-align: center;
}
.jumbotron {
  background-color: white;
  opacity: 0.8;
}
.nav-link {
  font-size: 35px;
}
.logo {
  width: 50%;
  height: 50%;
}
.fab {
  padding-right: 2em;
  font-size: 40px;
  width: 40px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 50%;
}

.fab:hover {
  opacity: 0.7;
}

.fa {
  padding-right: 2em;
  font-size: 40px;
  width: 40px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
}
.lead {
  font-size: 25px;
}

i.far,
i.fas,
i.fab {
  margin-left: 2em;
  padding-left: -5em;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
}
