// Your variable overrides
// See node_modules/bootstrap/scss/_variables.scss for all variables
$body-bg: #000;
$body-color: white;
$primary: rgb(11, 8, 12);
$font-family-base: Candara;
// Include all Bootstrap
@import "../node_modules/bootstrap/scss/bootstrap";

// Add you custom CSS

body {
  margin: 20px;
}

.carousel .item {
  height: 150px;
}
.card-title {
  font-weight: bold;
  color: darkcyan;
  text-align: center;
}
